parameters:
    level: 1
    paths:
        - app
        - includes
        - client
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Undefined variable: \$pdo#'
    checkMissingIterableValueType: false
